@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Playfair", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

.pre-loader {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.pre-loader span {
  color: white;
  font-size: 3rem;
}

.nav-wrapper {
  width: 100%;
}
.nav-wrapper .nav-container {
  text-align: center;
  height: 14.84375vh;
  width: calc(98.9% - 5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin: 0 3rem;
}
.nav-wrapper .nav-container .nav-items {
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2.325rem;
}
.nav-wrapper .nav-container .nav-items li {
  align-self: flex-start;
}
.nav-wrapper .nav-container .nav-items li a {
  text-transform: capitalize;
  color: #878C95;
}
.nav-wrapper .nav-container .logo-section img {
  width: 18.75rem;
  height: auto;
}
@media (max-width: 1408px) {
  .nav-wrapper .nav-container .logo-section img {
    width: 13.75rem;
  }
}
.nav-wrapper .nav-container .authentication {
  display: flex;
  gap: 8px;
}
.nav-wrapper .nav-container .authentication .dark {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  width: 150px;
  height: 51px;
  background-color: #231270;
  color: #fff;
  border-radius: 300px;
  text-transform: capitalize;
}
.nav-wrapper .nav-container .authentication .light {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  width: 150px;
  height: 51px;
  background-color: #FFF;
  color: #231270;
  border-radius: 300px;
  text-transform: capitalize;
  border: 2px solid #9A92BD;
}
@media (max-width: 768px) {
  .nav-wrapper .nav-container .authentication {
    display: none;
  }
}
@media (max-width: 988px) {
  .nav-wrapper .nav-container .authentication {
    display: none;
  }
}

.jumbo-container {
  background: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: 14%;
  background-color: #F4F4F4;
  padding: 3rem 0;
  display: grid;
  place-items: center;
}
.jumbo-container .jumbo-content {
  width: 983px;
  height: 24.046875vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media (max-width: 989px) {
  .jumbo-container .jumbo-content {
    width: 100%;
  }
}
.jumbo-container .jumbo-content .pointer {
  position: absolute;
  width: 100px;
  right: 158px;
  top: 16px;
}
@media (max-width: 768px) {
  .jumbo-container .jumbo-content .pointer {
    display: non;
  }
}
.jumbo-container .jumbo-content .swirl {
  position: absolute;
  width: 100px;
  right: 227px;
}
@media (max-width: 768px) {
  .jumbo-container .jumbo-content .swirl {
    display: none;
  }
}
.jumbo-container .jumbo-content .art-text {
  position: absolute;
  font-family: "Covered By Your Grace", sans-serif;
  color: #FFF;
  font-size: 1.5rem;
  right: 4.45rem;
  top: 2.7975rem;
}
@media (max-width: 768px) {
  .jumbo-container .jumbo-content .art-text {
    display: none;
  }
}
.jumbo-container .jumbo-text .span-1 {
  opacity: 0.6;
  font-size: 2rem;
  color: white;
}
.jumbo-container .jumbo-text .span-2 {
  font-size: 2rem;
  color: white;
}
.jumbo-container form .form-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 989px) {
  .jumbo-container form .form-wrapper {
    display: none;
  }
}
.jumbo-container form .form-wrapper input {
  border-radius: 1875rem;
  border: none;
  width: 35.8125rem;
  height: 63px;
}
.jumbo-container form .form-wrapper input::placeholder {
  text-indent: 20px;
  color: #C7C7C7;
  font-size: 1.125rem;
}
.jumbo-container form .form-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  width: 150px;
  height: 51px;
  background-color: #231270;
  color: #FFF;
  border-radius: 300px;
  text-transform: capitalize;
}
.jumbo-container p {
  color: #cacaca;
}
.jumbo-container p span {
  color: white;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-content: center;
}
.wrapper .text-container {
  padding-inline: 41.99px;
  padding-top: 32px;
}
.wrapper .serv-main {
  width: 99%;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1428px) {
  .wrapper .serv-main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1092px) {
  .wrapper .serv-main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 846px) {
  .wrapper .serv-main {
    grid-template-columns: repeat(1fr);
  }
}
.wrapper .serv-main .serv-container {
  width: 19.1875rem;
  margin: 20px 20px;
}
.wrapper .serv-main .serv-container .serv-content {
  position: relative;
}
.wrapper .serv-main .serv-container .serv-content .serv-img .business-img {
  position: relative;
  border-radius: 20px;
}
.wrapper .serv-main .serv-container .serv-content .serv-img .profile-img {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 15px;
  top: 148px;
}
.wrapper .serv-main .serv-container .serv-content .serv-img .fa-heart {
  color: red;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  top: 20px;
}
.wrapper .serv-main .serv-container .serv-content .serv-img .distance {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 24px;
  color: #F6F7F7;
  position: absolute;
  width: 132px;
  height: 24px;
  left: 156px;
  top: 182px;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t1 {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 5px;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t1 .Business-name {
  width: 145px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #202329;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t1 .star-rate {
  display: flex;
  width: 20px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-right: 8px;
  color: #4C5361;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t1 .fa-star {
  color: gold;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .business-price {
  width: 77px;
  height: 28px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #202329;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t2 .Persons-name {
  width: 114px;
  font-style: normal;
  font-weight: 450px;
  font-size: 14px;
  color: #4C5361;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t2 .Persons-time {
  width: 73px;
  height: 24px;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  text-align: center;
  color: #4C5361;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t3 span {
  border-radius: 20px;
  padding: 5px;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t3 .span-s {
  background-color: #ECF7FF;
  width: 43px;
  height: 24px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #104928;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t3 .span-c {
  background-color: #FCE9EB;
  width: 66px;
  height: 24px;
  font-weight: 450;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}
.wrapper .serv-main .serv-container .serv-content .serv-text .serv-t3 .span-d {
  background-color: #E9F7EF;
  color: #104928;
  width: 43px;
  height: 24px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
}
