.ad-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    margin: 30px 50px;


            img{
                width: 551.05px;
                height: auto;
            }
        
    

    .inner-container{
        width: 50%;
        height: auto;

    }
}