 @use '../utils/mixins' as b;
@use '../utils/mixins' as *;
@use '../utils//breakpoints' as *;
@use "../base/variables" as v;

.nav-wrapper {
    width: 100%;
    .nav-container {
    text-align: center;
    height: 14.84375vh;
    width: calc(98.9% - 5rem);
    @include flex-row(space-between, center);
    margin: 0 3rem ;
    .nav-items {
        padding: 0;
        @include flex-row(start, center, 2.325rem);
        li {
            align-self: flex-start;
            a {
               text-transform: capitalize;
               color: #878C95;
           }
        }
    }

    .logo-section {
        img{
            width: 18.75rem;
            height: auto;
            @include media("<=1408px"){
                 width: 13.75rem;
            }
        }
    }
    .authentication {
        display: flex;
        gap: 8px;
        .dark {
            @include b.button(v.$dark-blue, #fff);
        }
        .light {
            @include b.button(v.$white, v.$dark-blue);
            border: 2px solid #9A92BD;
        }
        @include media("<=tablet"){
            display: none;
        }

        @include media("<=988px") {
            display: none;
        }
    }
}
}