// basic web resets
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Playfair', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}