// fonts imports and any font styling universally goes here.

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}