// colors variable
$dark-blue:#231270;
$primary-gray:#F6F7F7;
$primary-blue:#0094FF;
$mud-brown:#5F0D16;
$green:#104928;
$dark:#2D2D2D;
$secondary-gray:#E9E7F1;
$tertiary-gray:#DAD5F0;
$primary-yellow:#F6A71A;
$white: #FFF;
$white-background:#F4F4F4;
$dark-varient:#212121;
$peach-background: #FCE9EB;
$green-background:#E9F7EF;
$blue-background: #ECF7FF;


