
<%- include('partials2/header2.ejs') %>

    <body>
        <div id="app">
            <%- include('partials2/navbar2.ejs') %>
            
            <%- include('partials2/name.ejs') %>


        </div>
    </body>

    <%- include('partials/footer.ejs') %>