<%- include('partials/header.ejs') %>

    <body>
        <div id="app">
            <%- include('partials/navbar.ejs') %>
                <%- include('partials/jumbotron.ejs') %>

        </div>
    </body>

    <%- include('partials/footer.ejs') %>