<div class="ad-container">
    
        <img src="../../assets/ad1.png" alt="ads">
    <div class="inner-container">
         <div class="ad-2">  <img src="../../assets/ad2.png" alt="ads"></div>
         <div class="ad-3"> <img src="../../assets/ad2.png" alt="ads"> </div>
    </div>
</div>