<main class="categories">
    <div class="cate prev-btn'">   <img src="/assets/Button2.png" alt="">
    </div>

    <div class="all-categories  cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>All Categories</p>
    </div>
    <div class="Refrigerator fixer cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Refrigerator fixer</p>
    </div>
    <div class="Device Repair cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Device Repair</p>
    </div>
    <div class="Barber  cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Barber</p>
    </div>
    <div class="spa cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>SPA</p>
    </div>
    <div class="Hairdresser cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Hairdresser</p>
    </div>
    <div class="Dry-Cleaner  cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Dry-Cleaner</p>
    </div>
    <div class="Plumber cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Plumber</p>
    </div>
    <div class="ELectrican cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>ELectrican</p>
    </div>
    <div class="Tailor cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Tailor</p>
    </div>
    <div class="cate">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Mechanic</p>
    </div>
    <div class=" cate">
        <i class="fa-regular fa-calendar-days"></i>
      

        <p>Plumber</p>
    </div>

    <div class="cate next-btn">   <img src="/assets/Button.png" alt="">
    </div>




</main>