
    <div class="footer">
        <h2>RUNAM.</h2>

        <div class="footer_info">
            <ul>
                <li>terms & condition</li>
                <li>Privacy Policy</li>
                <li>2023 Runam</li>
            </ul>
        </div>
    </div>




<script type="module" src="./src/js/app.js">
    <!-- js code goes here frontend -->
</script>
</body>
</html>