<main class="jumbo-container">
    <div class="jumbo-content">
        <span class="art-text"> your sabi guy </span>
        <h1 class="jumbo-text">
            <span class="span-1"> Want to get something done? </span>
            <span class="span-2"> Runnam </span>
        </h1>
    </div>
    <form action="" method="GET">
        <div class="form-wrapper">
            <input type="text" placeholder="Search for any service">
            <iconify-icon icon="ic:baseline-location-on" style="color: gray;" width="22" height="22"></iconify-icon>
            <a href=""> Search</a>
        </div>
    </form>
    <p><span>Search</span> for your desired Service or Select from our <span>Categories</span></p>
</main>