<div class="nav-wrapper">
    <nav class="nav-container">
        <ul class="nav-items">
            <li><a href="">wishList </a></li>
            <li><a href="">map </a></li>
            <li><a href="">contact us </a></li>
        </ul>
        <div class="logo-section">
            <img src="../../assets/runAmlogo.png" alt="logo" />
        </div>
        <div class="authentication">
            <a class="btn light" href=""> sign up </a>
            <a class="btn dark" href=""> login </a>
        </div>
    </nav>
</div>