<h5>Recommended Services in your Area</h5>
<p>These services have been verified and have good reviews</p>
<div class="serv-main">
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="serv-container">
        <div class="serv-content">
            <div class="serv-img">
                <img class="business-img" src="/assets/buniesspic.jpg" alt="">
                <img class="profile-img" src="assets/bisowner.png" alt="">
                <i class="fa-sharp fa-solid fa-heart"></i>
                <p class="distance"><span>48</span><span>km,</span> <span>ikorodu

                    </span> <span>Lagos</span></p>

            </div>
            <div class="serv-text">
                <div class="serv-t1">
                    <p class="Business-name"> <span>Martin</span> <span>Cutzz</span></p>
                    <p class="star-rate"><span>3.2</span><span><i class="fa-sharp fa-solid fa-star"></i></span></p>
                </div>
                <div class="serv-t2">
                    <p class="Persons-name"> <span>James</span> <span>Martin</span><span>Obi</span></p>
                    <p class="Persons-time"><span>6</span><span>am</span><span>-</span><span>10</span><span>pm</span>
                    </p>
                </div>
                <div class="business-price"><span>NGN</span><span>4000</span></div>
                <div class="serv-t3">
                    <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span>
                </div>
            </div>
        </div>
    </div>

</div>