

@mixin button($background-color, $color){
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    width: 150px;
    height: 51px;
    background-color: $background-color;
    color: $color;
    border-radius: 300px;
}

@mixin flex-row($jc:start, $ac:normal, $gap:3){
    display: flex;
    justify-content: $jc;
    align-items: $ac;
    gap: $gap;
}