<div class="dashboard">

    <div class="dashboard-text">
        <span>
            <h1>Dashboard</h1>
            <h3><span>Welcome,</span><span>James</span></h3>
        </span>
        <span>
            <button class="profile">
                Preview Service Profile
            </button>
        </span>

    
    </div>
   

    <div class="details">
        <div class="details-lists">
           <div><h3>Personal Information</h3></div>
           <div><h3>Service detail</h3></div>
           <div><h3>Reviews</h3></div>
           <div><h3>Performance</h3></div>
           <div><h3>Service Boost Packaages</h3></div>
        </div>

        <div class="details-show">
            <div class="Persoanl-information">
                <h1>Personal Information</h1>
                <p>Update your personal details</p>
            </div>
            <div class="Personal-detail">
                <hr>
                <div class="Tail">
                    <span>Name</span>
                    <span>James Martin Obi</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Email Address</span>
                    <span>chinaemeemerole@yahoo.com</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Name</span>
                    <span>09082898018</span>
                    <span>Edit</span>
                </div>
                <hr>
            </div>
            
        </div>
        
    </div>

    
    <div class="details">
        <div class="details-lists">
           <div><h3>Personal Information</h3></div>
           <div><h3>Service detail</h3></div>
           <div><h3>Reviews</h3></div>
           <div><h3>Performance</h3></div>
           <div><h3>Service Boost Packaages</h3></div>
        </div>

        <div class="service-show">
            <div class="Persoanl-information">
                <h1>Service Details</h1>
                <p>Update your service profile. Take note that as individual entity your business name can be government name .</p>
            </div>
            <div class="Personal-detail">
                <hr>
                <div class="Tail">
                    <span> Business Name</span>
                    <span>James Martin Obi</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Business Phone number</span>
                    <span>090228277468</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Business Location</span>
                    <span>No 5 Alhaji ottun</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Workmanship</span>
                    <span>450</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Category</span>
                    <span>Barbing</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Description</span>
                    <span>I am a good barber believe it or not</span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Skills</span>
                    <span class="serv-t3"> <span class="span-s">Shaving</span>
                    <span class="span-c">Simple Cuts</span>
                    <span class="span-d">Dreads</span></span>
                    <span>Edit</span>
                </div>
                <hr>
                <div class="Tail">
                    <span>Media</span>
                    <span><span> <img class="dashboard-img" src="/assets/buniesspic.jpg" alt=""></span>
                    <span> <img class="dashboard-img" src="/assets/buniesspic.jpg" alt=""></span>
                    <span> <img class="dashboard-img" src="/assets/buniesspic.jpg" alt=""></span>
                    <span> <img class="dashboard-img" src="/assets/buniesspic.jpg" alt=""></span>
                
                
                </span>
                    <span>Edit</span>
                </div>
            </div>
            
        </div>
        
    </div>

</div>